In [1]:
import geopandas as gpd
import geodatasets

In [9]:
chicago = gpd.read_file(geodatasets.get_path("geoda.chicago_commpop"))
groceries = gpd.read_file(geodatasets.get_path("geoda.groceries"))

In [10]:
chicago.head()

,community,NID,POP2010,POP2000,POPCH,POPPERCH,popplus,popneg,geometry
0,DOUGLAS,35,18238,26470,-8232,-31.099358,0,1,"MULTIPOLYGON (((-87.60914 41.84469, -87.60915 ..."
1,OAKLAND,36,5918,6110,-192,-3.142390,0,1,"MULTIPOLYGON (((-87.59215 41.81693, -87.59231 ..."
2,FULLER PARK,37,2876,3420,-544,-15.906433,0,1,"MULTIPOLYGON (((-87.62880 41.80189, -87.62879 ..."
3,GRAND BOULEVARD,38,21929,28006,-6077,-21.698922,0,1,"MULTIPOLYGON (((-87.60671 41.81681, -87.60670 ..."
4,KENWOOD,39,17841,18363,-522,-2.842673,0,1,"MULTIPOLYGON (((-87.59215 41.81693, -87.59215 ..."

## For Attribute Join:

In [11]:
chicago_shapes = chicago[['NID', 'geometry']]
chicago_names = chicago[['community', 'NID']]

## For Spatial Join:

In [18]:
new_chicago = chicago[['community', 'geometry']].to_crs(groceries.crs)

#

#

## Performing the actual Attribute Join:

In [16]:
chicago_merged = chicago_shapes.merge(chicago_names, on = 'NID')

In [17]:
chicago_merged.head()

   NID                                           geometry        community
0   35  MULTIPOLYGON (((-87.60914 41.84469, -87.60915 ...          DOUGLAS
1   36  MULTIPOLYGON (((-87.59215 41.81693, -87.59231 ...          OAKLAND
2   37  MULTIPOLYGON (((-87.62880 41.80189, -87.62879 ...      FULLER PARK
3   38  MULTIPOLYGON (((-87.60671 41.81681, -87.60670 ...  GRAND BOULEVARD
4   39  MULTIPOLYGON (((-87.59215 41.81693, -87.59215 ...          KENWOOD

## Performing a Spatial Join:
### In a spatial join, two geometry objects are merged based on their spatial relationship to one another.
#### The two geometry objects are: 
1. new_chicago
2. groceries

In [19]:
new_chicago.head()

         community                                           geometry
0          DOUGLAS  MULTIPOLYGON (((1181573.250 1886828.039, 11815...
1          OAKLAND  MULTIPOLYGON (((1186289.356 1876750.733, 11862...
2      FULLER PARK  MULTIPOLYGON (((1176344.998 1871187.546, 11763...
3  GRAND BOULEVARD  MULTIPOLYGON (((1182322.043 1876674.730, 11823...
4          KENWOOD  MULTIPOLYGON (((1186289.356 1876750.733, 11862...

In [20]:
groceries.head()

,OBJECTID,Ycoord,Xcoord,Status,Address,Chain,Category,geometry
0,16,41.973266,-87.657073,OPEN,"1051 W ARGYLE ST, CHICAGO, IL. 60640",VIET HOA PLAZA,None,MULTIPOINT ((1168268.672 1933554.350))
1,18,41.696367,-87.681315,OPEN,"10800 S WESTERN AVE, CHICAGO, IL. 60643-3226",COUNTY FAIR FOODS,None,MULTIPOINT ((1162302.618 1832900.224))
2,22,41.868634,-87.638638,OPEN,"1101 S CANAL ST, CHICAGO, IL. 60607-4932",WHOLE FOODS MARKET,None,MULTIPOINT ((1173317.042 1895425.426))
3,23,41.877590,-87.654953,OPEN,"1101 W JACKSON BLVD, CHICAGO, IL. 60607-2905",TARGET/SUPER,new,MULTIPOINT ((1168996.475 1898801.406))
4,27,41.737696,-87.625795,OPEN,"112 W 87TH ST, CHICAGO, IL. 60620-1318",FOOD 4 LESS,None,MULTIPOINT ((1176991.989 1847262.423))

In [21]:
groceries_with_comminuty = groceries.sjoin(new_chicago, how = 'inner', predicate = 'intersects')

In [22]:
groceries_with_comminuty.head()

,OBJECTID,Ycoord,Xcoord,Status,Address,Chain,Category,geometry,index_right,community
0,16,41.973266,-87.657073,OPEN,"1051 W ARGYLE ST, CHICAGO, IL. 60640",VIET HOA PLAZA,None,MULTIPOINT ((1168268.672 1933554.350)),30,UPTOWN
1,18,41.696367,-87.681315,OPEN,"10800 S WESTERN AVE, CHICAGO, IL. 60643-3226",COUNTY FAIR FOODS,None,MULTIPOINT ((1162302.618 1832900.224)),73,MORGAN PARK
2,22,41.868634,-87.638638,OPEN,"1101 S CANAL ST, CHICAGO, IL. 60607-4932",WHOLE FOODS MARKET,None,MULTIPOINT ((1173317.042 1895425.426)),28,NEAR WEST SIDE
3,23,41.877590,-87.654953,OPEN,"1101 W JACKSON BLVD, CHICAGO, IL. 60607-2905",TARGET/SUPER,new,MULTIPOINT ((1168996.475 1898801.406)),28,NEAR WEST SIDE
4,27,41.737696,-87.625795,OPEN,"112 W 87TH ST, CHICAGO, IL. 60620-1318",FOOD 4 LESS,None,MULTIPOINT ((1176991.989 1847262.423)),39,CHATHAM

#

#

#

#